{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <title>Authentication in Django</title>
</head>
<body>
<div class="container vertical-center col-md-4">
    <div class="jumbotron">
      <h1>Django Authentication</h1>
      <p>Choose an authentication application.</p>
      <p><a class="btn btn-primary btn-lg" href="/userena_app" role="button">django-userena</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">django-allauth</a></p>
    </div>
</div>
</body>
</html>